{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	-
	{{ 'traduire_une_action'|trans }}
{% endblock %}

{% block content %}
<div class="page">
	<div class="table-container-traitements">
		<div class="header headretour">
			<a href="javascript:history.back()">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewbox="0 0 1024 1024">
					<path fill="currentColor" d="M609.408 149.376L277.76 489.6a32 32 0 0 0 0 44.672l331.648 340.352a29.12 29.12 0 0 0 41.728 0a30.59 30.59 0 0 0 0-42.752L339.264 511.936l311.872-319.872a30.59 30.59 0 0 0 0-42.688a29.12 29.12 0 0 0-41.728 0"/>
				</svg>
			</a>
			<h2>{{ 'Traduire une action'|trans }}</h2>
		</div>

		{{ form_start(form, {"attr": {"class": "sous-traitantform", "enctype": "multipart/form-data"}}) }}

		<!-- Action Name -->
		<div class="form-group">
			<div class="form-group1">
				{{ form_label(form.name) }}
				{{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Nom de l\'action traduit'}}) }}
        <div class="invalid-feedback">{{ form_errors(form.name) | striptags }}</div>
      </div>
    </div>

    <!-- Action Information -->
    <div class="sectt">
      <h3>{{ 'informations'|trans }}</h3>
      <div class="form-group">
        <div class="form-group1 width-100" >
          {{ form_label(form.goal) }}
          {{ form_widget(form.goal, {'attr': {'class': 'form-control', 'placeholder': 'Objectif traduit'}}) }}
          <div class="invalid-feedback">{{ form_errors(form.goal) | striptags }}</div>
        </div>
      </div>

      <div class="form-group">
        <div class="form-group1 width-99" >
          {{ form_label(form.information) }}
          {{ form_widget(form.information, {'attr': {'class': 'form-control height-100', 'placeholder': 'Informations traduites'}}) }}
          <div class="invalid-feedback">{{ form_errors(form.information) | striptags }}</div>
        </div>
      </div>
    </div>

    <!-- Submit Button -->
    <button type="submit" class="submit-button">{{ 'Enregistrer'|trans }}</button>

    {{ form_end(form) }}
  </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
     <script>
        document.addEventListener("DOMContentLoaded", () => {
            $(".datepicker-js").datepicker({
                language: 'fr',
                format: 'yyyy-mm-dd'
            });
        });
    </script>
{% endblock %}
