{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Modifier le document
{% endblock %}

{% block content %}
	<div class="page">
		<div class="table-container-traitements">
			<div class="header headretour">
				<a href="javascript:history.back()">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewbox="0 0 1024 1024">
						<path fill="currentColor" d="M609.408 149.376L277.76 489.6a32 32 0 0 0 0 44.672l331.648 340.352a29.12 29.12 0 0 0 41.728 0a30.59 30.59 0 0 0 0-42.752L339.264 511.936l311.872-319.872a30.59 30.59 0 0 0 0-42.688a29.12 29.12 0 0 0-41.728 0"/>
					</svg>
				</a>
				<h2>Modifier un document</h2>
			</div>

			{{ form_start(form, { "attr": { "class": "sous-traitantform", "enctype": "multipart/form-data" } }) }}

			<!-- Informations Section -->
			<div class="sectt border-top-none" >
				<h3>Informations</h3>

				<div class="form-group">
					<div class="form-group1 width-97" >
						{{ form_label(form.type) }}
						{{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
					</div>
				</div>

				<div class="form-group">
					<div class="form-group1 width-100" >
						{{ form_label(form.name) }}
						{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
					</div>
				</div>

				<!-- Current File -->
				<div class="form-group">
					<div class="form-group1">
						<label>Fichier actuel</label>
						<a href="{{ asset('uploads/documents/' ~ filename) }}" target="_blank" class="btn btn-light">

							<i class="mdi mdi-eye"></i>
							Voir le document
						</a>
					</div>
				</div>

				<!-- File Upload -->
				<div class="form-group">
					<div class="form-group1">
						<label>Remplacer le fichier</label>
						<button type="button" class="file-button" onclick="document.getElementById('form_file').click();">
							<i class="fa fa-file"></i>
							Joindre un fichier
						</button>
						{{ form_widget(form.file, {'attr': {'id': 'fileInput', 'class': 'd-none', 'onchange': 'updateFileName(this)'}}) }}
						<span id="file-name" class="selected-file"></span>
						<div class="invalid-feedback">{{ form_errors(form.file) | striptags }}</div>
					</div>
				</div>
			</div>

			{% if document.translatedEn %}
				<!-- English Document Section -->
				<div class="sectt">
					<h3>Version Anglaise</h3>

					<div class="form-group">
						<div class="form-group1 width-100" >
							{{ form_label(form.name_en) }}
							{{ form_widget(form.name_en, {'attr': {'class': 'form-control'}}) }}
						</div>
					</div>

					<!-- Current File (EN) -->
					<div class="form-group">
						<div class="form-group1">
							<label>Fichier actuel (EN)</label>
							<a href="{{ asset('uploads/documents/' ~ filename_en) }}" target="_blank" class="btn btn-light">

								<i class="mdi mdi-eye"></i>
								Voir le document (EN)
							</a>
						</div>
					</div>

					<!-- File Upload (EN) -->
					<div class="form-group">
						<div class="form-group1">
							<label>Remplacer le fichier (EN)</label>
							<button type="button" class="file-button" onclick="document.getElementById('form_file_en').click();">
								<i class="fa fa-file"></i>
								Joindre un fichier
							</button>
							{{ form_widget(form.file_en, {'attr': {'id': 'fileInputEn', 'class': 'd-none', 'onchange': 'updateFileName(this)'}}) }}
							<span id="file-name-en" class="selected-file"></span>
							<div class="invalid-feedback">{{ form_errors(form.file_en) | striptags }}</div>
						</div>
					</div>
				</div>
			{% endif %}

			<br>
			<!-- Submit Button -->
			<button type="submit" class="submit-button">Enregistrer</button>

			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	 <script>
	        function updateFileName(input) {
	            // Find the button and text span related to the input
	            const button = input.closest(".form-group").querySelector("button");
	            const fileNameSpan = input.closest(".form-group").querySelector(".selected-file");
	
	            if (input.files.length > 0) {
	                // Update button text
	                button.innerHTML = `<i class="fa fa-file"></i> ${input.files[0].name}`;
	                // Show selected file name
	                fileNameSpan.textContent = input.files[0].name;
	                fileNameSpan.style.display = "inline";
	            } else {
	                // Reset button text if no file is selected
	                button.innerHTML = `<i class="fa fa-file"></i> Joindre un fichier`;
	                fileNameSpan.textContent = "";
	                fileNameSpan.style.display = "none";
	            }
	        }
	    </script>
{% endblock %}
