{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Catégories de documents
{% endblock %}

{% block content %}
<div class="page">
    <div class="table-container-traitements">
        <div class="header headretour">
            <a href="javascript:history.back()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 1024 1024">
                    <path fill="currentColor" d="M609.408 149.376L277.76 489.6a32 32 0 0 0 0 44.672l331.648 340.352a29.12 29.12 0 0 0 41.728 0a30.59 30.59 0 0 0 0-42.752L339.264 511.936l311.872-319.872a30.59 30.59 0 0 0 0-42.688a29.12 29.12 0 0 0-41.728 0"/>
                </svg>
            </a>
            <h2>Gérer les catégories de documents</h2>
        </div>

        {{ form_start(form, { "attr": { "class": "sous-traitantform" } }) }}

        <!-- Category Information -->
        <div class="sectt">
            <h3>Informations</h3>
<div class="form-group">
            <div class="form-group1" style="width:100%">
                {{ form_label(form.libelle) }}
                {{ form_widget(form.libelle, {'attr': {'class': 'form-control'}}) }}
            </div>
             </div>

            <div class="form-group">
            <div class="form-group1" style="width:100%">
                {{ form_label(form.libelle_en) }}
                {{ form_widget(form.libelle_en, {'attr': {'class': 'form-control'}}) }}
            </div>
             </div>

            <div class="form-group">
            <div class="form-group1" style="width:97%">
                {{ form_label(form.parent) }}
                {{ form_widget(form.parent, {'attr': {'class': 'form-control'}}) }}
            </div>
             </div>
        </div>

        <!-- Submit Button -->
       <br>
            <button type="submit" class="submit-button">Enregistrer</button>
        

        {{ form_end(form) }}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
