{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}

{% block body %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="bg-dark">
        <div class="container">
            <div class="row align-items-center p-b-100 p-t-60">

                <div class="col-md-6 text-white p-b-30">
                    <div class="media">
                        <div class="avatar avatar mr-3">
                            <div class="avatar-title rounded-circle mdi mdi-sitemap  ">

                            </div>
                        </div>
                        <div class="media-body">
                            <h1>Base documentaire - Traduire</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container pull-up">
        <div class="row justify-content-md-end">

        </div>
        <div class="row">

            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        {{ form_start(form, {"attr": {"class": "needs-validation", "enctype": "multipart/form-data"}}) }}

                        <div class="form-row">
                            <div class="form-group floating-label col-md-6">
                                {{ form_label(form.documentFile) }}
                                {{ form_widget(form.documentFile, {'attr': {'class': 'form-control ' ~ ((form_errors(form.documentFile) == '') ? '' : 'is-invalid')} }) }}
                                <div class="invalid-feedback">{{ form_errors(form.documentFile) | striptags  }}</div>
                            </div>
                            <div class="form-group floating-label col-md-6">
                                {{ form_label(form.libelle_en) }}
                                {{ form_widget(form.libelle_en, {'attr': {'class': 'form-control ' ~ ((form_errors(form.libelle_en) == '') ? '' : 'is-invalid')} }) }}
                                <div class="invalid-feedback">{{ form_errors(form.libelle_en) | striptags  }}</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Enregistrer</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        (function ($) {
            'use strict';
            $(document).ready(function () {
                $('#datatable').DataTable({
                    "language": {
                        "search": "Rechercher :",
                        "lengthMenu": "Afficher _MENU_ résultats par page",
                        "zeroRecords": "Aucun résultat",
                        "info": "Page _PAGE_ sur _PAGES_",
                        "infoEmpty": "Aucune données sur ce tableau",
                        "infoFiltered": "(filtered from _MAX_ total records)",
                        "paginate": {
                            "previous": "Précédent",
                            "next": "Suivant",

                        }
                    }
                });

            });

        })(window.jQuery);
    </script>
{% endblock %}