{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Editer une info
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<!-- Flatpickr CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}
{% block content %}
	<div class="page">
		<div class="table-container-traitements">
			<div class="header headretour">
				<a href="javascript:history.back()">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewbox="0 0 1024 1024">
						<path fill="currentColor" d="M609.408 149.376L277.76 489.6a32 32 0 0 0 0 44.672l331.648 340.352a29.12 29.12 0 0 0 41.728 0a30.59 30.59 0 0 0 0-42.752L339.264 511.936l311.872-319.872a30.59 30.59 0 0 0 0-42.688a29.12 29.12 0 0 0-41.728 0"/>
					</svg>
				</a>
				<h2>Editer une info</h2>
			</div>

			{{ form_start(form, {"attr": {"class": "sous-traitantform", "enctype": "multipart/form-data"}}) }}

			<div class="form-group">
				<div class="form-group1 width-100">
					{{ form_label(form.title, 'Titre') }}
					{{ form_widget(form.title, {'attr': {'class': 'form-control width-97' ~ ((form_errors(form.title) == '') ? '' : 'is-invalid')} }) }}
					<div class="invalid-feedback">{{ form_errors(form.title) | striptags }}</div>
				</div>
			</div>

			<div class="form-group">
				<div class="form-group1 width-100">
					{{ form_label(form.date, 'Date') }}
					{{ form_widget(form.date, {'attr': {'class': 'form-control datepicker-js width-97' ~ ((form_errors(form.date) == '') ? '' : 'is-invalid')} }) }}
					<div class="invalid-feedback">{{ form_errors(form.date) | striptags }}</div>
				</div>
			</div>

			<div class="form-group">
				<div class="form-group1 width-100">
					{{ form_label(form.link, 'Lien') }}
					{{ form_widget(form.link, {'attr': {'class': 'form-control width-97' ~ ((form_errors(form.link) == '') ? '' : 'is-invalid')} }) }}
					<div class="invalid-feedback">{{ form_errors(form.link) | striptags }}</div>
				</div>
			</div>
<br>
			<p class="ou" >-- OU --</p>
<br>
			<div class="form-group">
				<div class="form-group1 width-100">
					{{ form_label(form.content, 'Contenu') }}
					{{ form_widget(form.content, {'attr': {'class': 'form-control form-descrp' ~ ((form_errors(form.content) == '') ? '' : 'is-invalid')} }) }}
					<div class="invalid-feedback">{{ form_errors(form.content) | striptags }}</div>
				</div>
			</div>

			<div class="sectt">
			<br>
				<div
					class="form-group1 mt-3" >
					<!-- Custom File Button -->
					{{ form_label(form.filePicture) }}
					<button type="button" class="file-button" onclick="document.getElementById('appbundle_info_filePicture').click();">
						<i class="fa fa-file" aria-hidden="true"></i>
						{{ 'Joindre une image'|trans }}
					</button>
				</div>
				<!-- Hidden File Input with Reduced Opacity -->
				<div class="hiddenfile">
					{{ form_widget(form.filePicture, {
                    'attr': {
                        'id': 'filePictureInput',
                        'onchange': 'updateFileName(this)',
                        'class': 'form-control ' ~ ((form_errors(form.filePicture) == '') ? '' : 'is-invalid')
                    }
                }) }}
				</div>
				<!-- Validation Error -->
				<div class="invalid-feedback">{{ form_errors(form.filePicture) | striptags }}</div>
			</div>

			<div class="checkbox-group">
				{{ form_widget(form.enabled, {'attr': {'class': 'custom-control-input'}}) }}
				{{ form_label(form.enabled, 'Active', {'label_attr': {'class': 'custom-control-label'}}) }}
			</div>

			<button type="submit" class="submit-button">
				Enregistrer
			</button>

			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
<!-- Flatpickr JS -->
	 <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
	 <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/fr.js"></script>
	 <script>
	    document.addEventListener('DOMContentLoaded', function () {
	        flatpickr(".datepicker-js", {
	            dateFormat: "Y-m-d",
	            altInput: true,
	            altFormat: "d/m/Y",
	            locale: "fr",
	            allowInput: true,
	            maxDate: "today",
	        });
	
	       
	    });
	     function updateFileName(input) {
	            const button = document.querySelector('.file-button');
	            if (input.files.length > 0) {
	                button.innerHTML = `<i class="fa fa-file" aria-hidden="true"></i> ${input.files[0].name}`;
	            } else {
	                button.innerHTML = `<i class="fa fa-file" aria-hidden="true"></i> {{ 'joindre_un_document'|trans }}`;
	            }
	        }
	</script>
{% endblock %}
