{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}

{% block body %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="bg-dark">
        <div class="container">
            <div class="row align-items-center p-b-100 p-t-60">

                <div class="col-md-6 text-white p-b-30">
                    <div class="media">
                        <div class="avatar avatar mr-3">
                            <div class="avatar-title rounded-circle mdi mdi-account-multiple  ">

                            </div>
                        </div>
                        <div class="media-body">
                            <h1>Délégués à la Protection des Données</h1>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4 col-lg-3">
                    <a href="{{ path('manager_managers_add') }}" class="card m-b-30">
                        <div class="card-body">
                            <div class="media">
                                <div class="avatar mr-3">
                                    <div class="avatar-title rounded-circle bg-primary"><i class="mdi mdi-shape-circle-plus"></i></div>
                                </div>
                                <div class="media-body p-t-5">
                                    <h5 class="m-b-0">Ajouter</h5>
                                    <p class="m-0">un nouveau délégué</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid pull-up">
        <div class="row justify-content-md-end">

        </div>
        <div class="row">

            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive p-t-10">
                            <table id="datatable" class="table" style="width:100%">
                                <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Email</th>
                                    <th>Téléphone</th>
                                    <th>Société</th>
                                    <th>Type</th>
                                    <th>Statut</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for manager in managers %}
                                    <tr>
                                        <td>{{ manager.firstName }} {{ manager.lastName }}</td>
                                        <td>{{ manager.email }}</td>
                                        <td>{{ manager.phone }}</td>
                                        <td>
                                            {{ manager.companyName }}<br/>
                                            {{ manager.address }}{% if manager.address2 %}, {{ manager.address2 }}{% endif %}<br/>
                                            {{ manager.zipCode }}, {{ manager.city }}<br/>
                                        </td>
                                        <td>
                                            {% if "ROLE_ADMIN" in manager.account.roles %}
                                                <span class="badge badge-secondary">ADMINISTRATEUR</span>
                                            {% elseif "ROLE_DPO" in manager.account.roles %}
                                                <span class="badge badge-primary">DPO</span>
                                            {% elseif "ROLE_JURISTE" in manager.account.roles %}
                                                <span class="badge badge-primary">JURISTE</span>
                                            {% elseif "ROLE_COMMERCE" in manager.account.roles %}
                                                <span class="badge badge-primary">COMMERCE</span>
                                            {% else %}
                                                <span class="badge badge-danger">A DEFINIR</span>
                                            {% endif %}
                                        </td>
                                        <td>{% if manager.account.enabled %}<span class="badge badge-success">OUI</span>{% else %}<span class="badge badge-danger">NON</span>{% endif %}</td>
                                        <td>
                                            <a href="{{ path('manager_managers_edit', {'id': manager.id}) }}" class="btn btn-sm ml-1 mr-1 btn-secondary">
                                                <i class="mdi mdi-circle-edit-outline"></i> Modifier
                                            </a>
                                            {% if is_granted('ROLE_DPO') %}
                                                <a href="{{ path('manager_managers_delete', {'id': manager.id}) }}" class="btn btn-sm ml-1 mr-1 btn-danger" onclick="return confirm('Confirmer la suppression de ce compte délégué ?');">
                                                    <i class="mdi mdi-close"></i>
                                                </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        (function ($) {
            'use strict';
            $(document).ready(function () {
                $('#datatable').DataTable({
                    "language": {
                        "search": "Rechercher :",
                        "lengthMenu": "Afficher _MENU_ résultats par page",
                        "zeroRecords": "Aucun résultat",
                        "info": "Page _PAGE_ sur _PAGES_",
                        "infoEmpty": "Aucune données sur ce tableau",
                        "infoFiltered": "(filtered from _MAX_ total records)",
                        "paginate": {
                            "previous": "Précédent",
                            "next": "Suivant",

                        }
                    }
                });

            });

        })(window.jQuery);
    </script>
{% endblock %}