{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Modifier le questionnaire
{% endblock %}

{% block content %}
<div class="page">
    <div class="table-container-traitements">
        <div class="header headretour">
            <a href="javascript:history.back()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 1024 1024">
                    <path fill="currentColor" d="M609.408 149.376L277.76 489.6a32 32 0 0 0 0 44.672l331.648 340.352a29.12 29.12 0 0 0 41.728 0a30.59 30.59 0 0 0 0-42.752L339.264 511.936l311.872-319.872a30.59 30.59 0 0 0 0-42.688a29.12 29.12 0 0 0-41.728 0"/>
                </svg>
            </a>
            <h2>Modifier le questionnaire</h2>
        </div>

        {{ form_start(form, { "attr": { "class": "sous-traitantform", "enctype": "multipart/form-data" } }) }}

        <input type="hidden" id="selected_users" name="selected_users" value="{{ users|join(',') }}">

        <div class="sectt" style="border-top:none">
            <h3>Informations</h3>
            <div class="form-group">
                <div class="form-group1" style="width:100%">
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group mt-3">
                <div class="form-group1 mt-3">
                    <label>Image d'entête du questionnaire</label>
                    <button type="button" class="file-button" onclick="document.getElementById('fileInput').click();">
                        <i class="fa fa-file"></i> Joindre une image
                    </button>
                    {{ form_widget(form.pictureFile, {'attr': {'id': 'fileInput', 'class': 'd-none', 'onchange': 'updateFileName(this)'}}) }}
                    <div class="invalid-feedback">{{ form_errors(form.pictureFile) | striptags }}</div>
                </div>
            </div>
        </div>

        <div class="sectt">
            <div class="custom-control checkbox-group my-2">
                {{ form_widget(form.active, {'attr': {'class': 'custom-control-input'}}) }}
                {{ form_label(form.active, null, {'label_attr': {'class': 'custom-control-label'}}) }}
            </div>

            <div class="custom-control checkbox-group my-2">
                {{ form_widget(form.availableForAll, {'attr': {'class': 'custom-control-input'}}) }}
                {{ form_label(form.availableForAll, null, {'label_attr': {'class': 'custom-control-label'}}) }}
            </div>

            <p>OU</p>
            <button type="button" onclick="openUsersModal();" class="imprimer">Sélectionner des clients</button>
            <div id="users-selected">{{ usersStr|join(', ') }}</div>
            {% do form.users.setRendered() %}
        </div>

        <div class="sectt">
            <h3>Ajouter un contenu</h3>
            <div class="col-12" id="content_container">
                {% for key, item in training.questions %}
                    <div class="form-group1 question-block">
                        <h5>Question {{ loop.index }}</h5>
                        <input class="form-control" type="text" name="form_items[{{ key }}][0]" value="{{ item.title }}" placeholder="Intitulé de la question">
                        <select class="form-control" name="form_items[{{ key }}][2]">
                            <option value="single" {% if not item.multiple %}selected{% endif %}>Choix unique</option>
                            <option value="multiple" {% if item.multiple %}selected{% endif %}>Choix multiple</option>
                            <option value="text">Réponse texte</option>
                        </select>
                        <textarea class="form-control" name="form_items[{{ key }}][1]" placeholder="Ajoutez les choix (1 par ligne)">{{ item.choices|join('\n') }}</textarea>
                        <button type="button" class="btn btn-dangerr btn-sm remove-btn">Supprimer</button>
                    </div>
                {% endfor %}
            </div>

            <div class="col-12 d-flex">
                <a onclick="addQuestion();" class="ajoutercilent">
                    <i class="mdi mdi-plus"></i> <h5 class="pt-2">Ajouter une question</h5>
                </a>
            </div>
        </div>

        <br><br>
        <button type="submit" class="submit-button">Enregistrer</button>

        {{ form_end(form) }}
    </div>
     <div class="modal fade" id="ModalUsers" tabindex="-1" role="dialog"
                         aria-labelledby="ModalUsers" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalCenterTitle">Clients</h5>
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Fermer">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <span onclick="selectAllUsers();" style="cursor: pointer;">Tout sélectionner</span> / <span onclick="unselectAllUsers();" style="cursor: pointer;">Tout désélectionner</span>
                                    </div>
                                    <div id="ModalUsersContent">
                                        {% for chk in form.users %}
                                            <div class="custom-control custom-checkbox">
                                                {{ form_widget(chk, {'attr': {'class': 'custom-control-input checkbox-user'} }) }}
                                                {{ form_label(chk, null, {'label_attr': {'class': 'custom-control-label'}}) }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
                                        Fermer
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
</div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var questionCount = {{ training.questions|length }};

        function updateFileName(input) {
            const button = document.querySelector('.file-button');
            if (input.files.length > 0) {
                button.innerHTML = `<i class="fa fa-file"></i> ${input.files[0].name}`;
            } else {
                button.innerHTML = `<i class="fa fa-file"></i> Joindre une image`;
            }
        }

        function addQuestion() {
            const container = document.getElementById('content_container');

            var questionBlock = document.createElement("div");
            questionBlock.className = "form-group1 question-block";

            questionBlock.innerHTML = `
                <h5>Question ${questionCount + 1}</h5>
                <input class="form-control" type="text" name="form_items[${questionCount}][0]" placeholder="Intitulé de la question">
                <select class="form-control" name="form_items[${questionCount}][2]">
                    <option value="single">Choix unique</option>
                    <option value="multiple">Choix multiple</option>
                    <option value="text">Réponse texte</option>
                </select>
                <textarea class="form-control" name="form_items[${questionCount}][1]" placeholder="Ajoutez les choix (1 par ligne)"></textarea>
                <button type="button" class="btn btn-dangerr btn-sm remove-btn">Supprimer</button>
            `;

            questionBlock.querySelector('.remove-btn').addEventListener('click', () => questionBlock.remove());

            container.appendChild(questionBlock);

            questionCount++;
        }

        function openUsersModal() {
            $('#ModalUsers').modal('show');
        }

        document.querySelectorAll('.remove-btn').forEach(btn => {
            btn.addEventListener('click', function() {
                this.parentNode.remove();
            });
        });
    </script>
{% endblock %}
