{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Editer un traitement standard
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="bg-dark">
        <div class="container-fluid px-lg-5 m-b-30">
            <div class="row">
                <div class="col-12 text-white p-t-40 p-b-90">

                    <h4 class=""> <span class="btn btn-white-translucent">
                                <i class="mdi mdi-account "></i></span> Editer un traitement standard
                    </h4>

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid px-lg-5 pull-up">

        <div class="card">
            <div class="card-header">
                <div class="card-body ">
                    {{ form_start(form, {"attr": {"class": "needs-validation", "enctype": "multipart/form-data"}}) }}

                    <h5>Informations</h5>

                    <div class="form-row">
                        <div class="form-group floating-label col-md-12">
                            {{ form_label(form.name) }}
                            {{ form_widget(form.name, {'attr': {'class': 'form-control ' ~ ((form_errors(form.name) == '') ? '' : 'is-invalid')} }) }}
                            <div class="invalid-feedback">{{ form_errors(form.name) | striptags  }}</div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group floating-label col-md-6">
                            <label>Date de création du traitement</label>
                            <input class="form-control" value="{{ treatment.creationDate|date('d/m/Y') }}" readonly="readonly" />
                        </div>
                        <div class="form-group floating-label col-md-6">
                            <label>Mise à jour du traitement</label>
                            <input class="form-control" value="{{ treatment.editDate|date('d/m/Y') }}" readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group floating-label col-md-6">
                            {{ form_label(form.mainPurpose) }}
                            {{ form_widget(form.mainPurpose, {'attr': {'class': 'form-control ' ~ ((form_errors(form.mainPurpose) == '') ? '' : 'is-invalid')} }) }}
                            <div class="invalid-feedback">{{ form_errors(form.mainPurpose) | striptags  }}</div>
                        </div>
                        <div class="form-group floating-label col-md-6">
                            {{ form_label(form.purpose1) }}
                            {{ form_widget(form.purpose1, {'attr': {'class': 'form-control ' ~ ((form_errors(form.purpose1) == '') ? '' : 'is-invalid')} }) }}
                            <div class="invalid-feedback">{{ form_errors(form.purpose1) | striptags  }}</div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group floating-label col-md-6">
                            {{ form_label(form.purpose2) }}
                            {{ form_widget(form.purpose2, {'attr': {'class': 'form-control ' ~ ((form_errors(form.purpose2) == '') ? '' : 'is-invalid')} }) }}
                            <div class="invalid-feedback">{{ form_errors(form.purpose2) | striptags  }}</div>
                        </div>
                        <div class="form-group floating-label col-md-6">
                            {{ form_label(form.purpose3) }}
                            {{ form_widget(form.purpose3, {'attr': {'class': 'form-control ' ~ ((form_errors(form.purpose3) == '') ? '' : 'is-invalid')} }) }}
                            <div class="invalid-feedback">{{ form_errors(form.purpose3) | striptags  }}</div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group floating-label col-md-6">
                            {{ form_label(form.purpose4) }}
                            {{ form_widget(form.purpose4, {'attr': {'class': 'form-control ' ~ ((form_errors(form.purpose4) == '') ? '' : 'is-invalid')} }) }}
                            <div class="invalid-feedback">{{ form_errors(form.purpose4) | striptags  }}</div>
                        </div>
                        <div class="form-group floating-label col-md-6">
                            {{ form_label(form.purpose5) }}
                            {{ form_widget(form.purpose5, {'attr': {'class': 'form-control ' ~ ((form_errors(form.purpose5) == '') ? '' : 'is-invalid')} }) }}
                            <div class="invalid-feedback">{{ form_errors(form.purpose5) | striptags  }}</div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group floating-label col-12">
                            {{ form_label(form.othersPurpose) }}
                            {{ form_widget(form.othersPurpose, {'attr': {'class': 'form-control ' ~ ((form_errors(form.othersPurpose) == '') ? '' : 'is-invalid')} }) }}
                            <div class="invalid-feedback">{{ form_errors(form.othersPurpose) | striptags  }}</div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group floating-label col-12">
                            {{ form_label(form.description) }}
                            {{ form_widget(form.description, {'attr': {'class': 'form-control ' ~ ((form_errors(form.description) == '') ? '' : 'is-invalid')} }) }}
                            <div class="invalid-feedback">{{ form_errors(form.description) | striptags  }}</div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group floating-label col-12">
                            {{ form_label(form.category) }}
                            {{ form_widget(form.category, {'attr': {'class': 'form-control ' ~ ((form_errors(form.category) == '') ? '' : 'is-invalid')} }) }}
                            <div class="invalid-feedback">{{ form_errors(form.category) | striptags  }}</div>
                        </div>
                    </div>

                    <h5 class="mt-2">Catégories de données personnelles concernées</h5>

                    <div class="table-responsive p-t-10">
                        <table class="table" style="width:100%">
                            <tbody>
                            {% for personalDataField in personalDataFields %}
                                <tr>
                                    <td style="width: 50%;" class="{% if personalDataField.level == 1 %}bg-soft-info{% elseif personalDataField.level == 2 %}bg-soft-warning{% else %}bg-soft-danger{% endif %}">{{ personalDataField.title }}</td>
                                    <td style="width: 50%;">{{ form_widget(form["field_text_"~loop.index0], {'attr': {'class': 'form-control w-100'} }) }}</td>
                                    {# <td style="width: 15%;">{{ form_widget(form["field_duration_"~loop.index0], {'attr': {'class': 'form-control w-100'} }) }}</td> #}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="form-row mt-2">
                        <div class="form-group col-md-12">
                            {{ form_label(form.dataRetentionPeriod) }}
                            {{ form_widget(form.dataRetentionPeriod, {'attr': {'class': 'form-control ' ~ ((form_errors(form.dataRetentionPeriod) == '') ? '' : 'is-invalid')} }) }}
                            <div class="invalid-feedback">{{ form_errors(form.dataRetentionPeriod) | striptags  }}</div>
                        </div>
                    </div>

                    <div class="form-row mt-2">
                        <div class="form-group col-md-12">
                            {{ form_label(form.dataSource) }}
                            {{ form_widget(form.dataSource, {'attr': {'class': 'form-control ' ~ ((form_errors(form.dataSource) == '') ? '' : 'is-invalid')} }) }}
                            <div class="invalid-feedback">{{ form_errors(form.dataSource) | striptags  }}</div>
                        </div>
                    </div>

                    <h5 class="mt-2">Catégories des personnes concernées</h5>

                    <div class="form-row">
                        <div class="form-group floating-label col-md-12">
                            {{ form_label(form.peopleData) }}
                            {{ form_widget(form.peopleData, {'attr': {'class': 'form-control ' ~ ((form_errors(form.peopleData) == '') ? '' : 'is-invalid')} }) }}
                            <div class="invalid-feedback">{{ form_errors(form.peopleData) | striptags  }}</div>
                        </div>
                    </div>

                    <h5 class="mt-2">Transfert Hors UE</h5>

                    <div class="form-row">
                        <div class="form-group floating-label col-md-12">
                            {{ form_label(form.transferOutsideUeCountries) }}
                            {{ form_widget(form.transferOutsideUeCountries, {'attr': {'class': 'form-control ' ~ ((form_errors(form.transferOutsideUeCountries) == '') ? '' : 'is-invalid')} }) }}
                            <div class="invalid-feedback">{{ form_errors(form.transferOutsideUeCountries) | striptags  }}</div>
                        </div>
                    </div>

                    <h5 class="mt-2">Consentement</h5>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <p>Le consentement est-il demandé ?</p>
                            {% for chk in form.consentAsked %}
                                <div class="custom-control custom-radio custom-control-inline">
                                    {{ form_widget(chk, {'attr': {'class': 'custom-control-input'} }) }}
                                    {{ form_label(chk, null, {'label_attr': {'class': 'custom-control-label'}}) }}
                                </div>
                            {% endfor %}
                            <div class="invalid-feedback">{{ form_errors(form.consentAsked) | striptags  }}</div>
                        </div>
                        <div class="form-group col-md-6">
                            {{ form_label(form.legalBasis) }}
                            {{ form_widget(form.legalBasis, {'attr': {'class': 'form-control ' ~ ((form_errors(form.legalBasis) == '') ? '' : 'is-invalid')} }) }}
                            <div class="invalid-feedback">{{ form_errors(form.legalBasis) | striptags  }}</div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12">
                            {{ form_label(form.consentHow) }}
                            {{ form_widget(form.consentHow, {'attr': {'class': 'form-control ' ~ ((form_errors(form.consentHow) == '') ? '' : 'is-invalid')} }) }}
                            <div class="invalid-feedback">{{ form_errors(form.consentHow) | striptags  }}</div>
                        </div>
                    </div>

                    <h5 class="mt-2">PIA (Analyse d'impact)</h5>

                    <p>Veuillez cocher les critères qui concernent votre traitement de données. Si 2 critères sur 9 sont cochés, un PIA sera obligatoire.<br/>
                        <a href="https://www.cnil.fr/sites/default/files/atoms/files/liste-traitements-aipd-non-requise.pdf" target="_blank">Une liste d'exonération de PIA est toutefois disponible ici</a>.</p>

                    {% set chkI = 1 %}
                    {% for chk in form.piaCriteria %}
                        <div class="custom-control custom-checkbox my-2">
                            {{ form_widget(chk, {'attr': {'class': 'custom-control-input'}}) }}
                            {{ form_label(chk, null, {'label_attr': {'class': 'custom-control-label'}}) }}
                            {% if chkI == 1 %}
                                <span data-toggle="tooltip" data-placement="right" data-original-title="santé, géolocalisation..."><i class="mdi mdi-help-circle"></i></span>
                            {% elseif chkI == 2 %}
                                <span data-toggle="tooltip" data-placement="right" data-original-title="enfants, salarié, handicap, lien de subordination fort..."><i class="mdi mdi-help-circle"></i></span>
                            {% elseif chkI == 8 %}
                                <span data-toggle="tooltip" data-placement="right" data-original-title="utilisation d'une nouvelle technologie ex: drones, intélligence artificielle..."><i class="mdi mdi-help-circle"></i></span>
                            {% endif %}
                        </div>
                        {% set chkI = chkI+1 %}
                    {% endfor %}

                    <div class="my-3">
                        <label class="cstm-switch">
                            {{ form_widget(form.piaExoneration, {'attr': {'class': 'cstm-switch-input'} }) }}
                            <span class="cstm-switch-indicator bg-success"></span>
                            <span class="cstm-switch-description">Cas d'éxonération de réalisation de PIA ? <a href="https://www.cnil.fr/sites/default/files/atoms/files/liste-traitements-aipd-non-requise.pdf" target="_blank"><i class="mdi mdi-help-circle"></i></a></span>
                        </label>
                    </div>
                    <div class="my-3">
                        <label class="cstm-switch">
                            {{ form_widget(form.insufficientCriteria, {'attr': {'class': 'cstm-switch-input'} }) }}
                            <span class="cstm-switch-indicator bg-success"></span>
                            <span class="cstm-switch-description">Absence de critère suffisant</span>
                        </label>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" onclick="save();">Enregistrer</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var saved = false;

        function save() {
            saved = true;
        }

        window.onbeforeunload = function (e) {
            if(saved !== true)
                return 'Êtes-vous sûr de vouloir quitter cette page?';
        };
    </script>
{% endblock %}