{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Editer un Client
{% endblock %}

{% block content %}
	<div class="page">
		<div class="table-container-traitements">
			<div class="header-con">
				<div class="headretour">
					<h2>
						<a href="javascript:history.back()">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewbox="0 0 1024 1024"><path fill="currentColor" d="M609.408 149.376L277.76 489.6a32 32 0 0 0 0 44.672l331.648 340.352a29.12 29.12 0 0 0 41.728 0a30.59 30.59 0 0 0 0-42.752L339.264 511.936l311.872-319.872a30.59 30.59 0 0 0 0-42.688a29.12 29.12 0 0 0-41.728 0"/></svg>
						</a>
						Editer un Client</h2>
				</div>
			</div>

			{{ form_start(form, {'attr': {'class': 'sous-traitantform'}}) }}

			<!-- Avatar Upload -->
			<div class="form-row justify-content-center avatar-upload-container">
				<label class="avatar-input-label">
					<div class="avatar-container">
						<span class="avatar avatar-xxl">
							{{ get_user_avatar(user)|raw }}
							<span class="avatar-upload-icon">
								<i class="mdi mdi-upload mdi-24px"></i>
							</span>
						</span>
						{{ form_widget(form.pictureFile, {'attr': {'class': 'avatar-file-picker'} }) }}
					</div>
				</label>
				<div class="form-feedback">
					{{ form_errors(form.pictureFile) | striptags }}
				</div>
			</div>

			<!-- Société Section -->
			<div class="sectt no_boder">
				<h3>Société</h3>
				<div class="form-group">
					<div class="form-group1">
						{{ form_label(form.companyName) }}
						{{ form_widget(form.companyName, {'attr': {'placeholder': 'Nom de l\'entreprise'}}) }}
                </div>
                <div class="form-group1">
                    {{ form_label(form.siret) }}
                    {{ form_widget(form.siret, {'attr': {'placeholder': 'SIRET'}}) }}
                </div>
            </div>

            <div class="form-group">
                <div class="form-group1">
                    {{ form_label(form.address) }}
                    {{ form_widget(form.address, {'attr': {'placeholder': 'Adresse'}}) }}
                </div>
                <div class="form-group1">
                    {{ form_label(form.address2) }}
                    {{ form_widget(form.address2, {'attr': {'placeholder': 'Complément'}}) }}
                </div>
            </div>

            <div class="form-group">
                <div class="form-group1">
                    {{ form_label(form.zipCode) }}
                    {{ form_widget(form.zipCode, {'attr': {'placeholder': 'Code postal'}}) }}
                </div>
                <div class="form-group1">
                    {{ form_label(form.city) }}
                    {{ form_widget(form.city, {'attr': {'placeholder': 'Ville'}}) }}
                </div>
            </div>

            <div class="form-group">
                <div class="form-group1">
                    {{ form_label(form.companyPhone) }}
                    {{ form_widget(form.companyPhone, {'attr': {'placeholder': 'Téléphone'}}) }}
                </div>
                <div class="form-group1">
                    {{ form_label(form.employeesNumber) }}
                    {{ form_widget(form.employeesNumber, {'attr': {'placeholder': 'Nombre d\'employés', 'class': 'width-97'}}) }}
					</div>
				</div>
			</div>

			<!-- Utilisateur Section -->
			<div class="sectt">
				<h3>Utilisateur</h3>
				<div class="form-group">
					<div class="form-group1">
						{{ form_label(form.phone) }}
						{{ form_widget(form.phone, {'attr': {'placeholder': 'Téléphone'}}) }}
					</div>
					<div class="form-group1">
						{{ form_label(form.email) }}
						{{ form_widget(form.email, {'attr': {'placeholder': 'Email'}}) }}
					</div>
				</div>
			</div>

			<!-- Relai Principal -->
			<div class="sectt">
				<h3>Relai Principal</h3>
				<div class="form-group">
					<div class="form-group1">
						{{ form_label(form.contactLastName) }}
						{{ form_widget(form.contactLastName, {'attr': {'placeholder': 'Nom'}}) }}
					</div>
					<div class="form-group1">
						{{ form_label(form.contactFirstName) }}
						{{ form_widget(form.contactFirstName, {'attr': {'placeholder': 'Prénom'}}) }}
					</div>
				</div>

				<div class="form-group">
					<div class="form-group1">
						{{ form_label(form.contactEmail) }}
						{{ form_widget(form.contactEmail, {'attr': {'placeholder': 'Email'}}) }}
					</div>
					<div class="form-group1">
						{{ form_label(form.contactPhone) }}
						{{ form_widget(form.contactPhone, {'attr': {'placeholder': 'Téléphone'}}) }}
					</div>
				</div>

				<div class="form-group">
					<div class="form-group1 Fonction">
						{{ form_label(form.contactJob) }}
						{{ form_widget(form.contactJob, {'attr': {'placeholder': 'Fonction', 'class': 'width-97' }}) }}
					</div>
				</div>
			</div>

			<!-- Responsable de Traitement -->
			<div class="sectt">
				<h3>Responsable de Traitement</h3>
				<div class="form-group">
					<div class="form-group1">
						{{ form_label(form.accountantLastName) }}
						{{ form_widget(form.accountantLastName, {'attr': {'placeholder': 'Nom'}}) }}
					</div>
					<div class="form-group1">
						{{ form_label(form.accountantFirstName) }}
						{{ form_widget(form.accountantFirstName, {'attr': {'placeholder': 'Prénom'}}) }}
					</div>
				</div>

				<div class="form-group">
					<div class="form-group1">
						{{ form_label(form.accountantEmail) }}
						{{ form_widget(form.accountantEmail, {'attr': {'placeholder': 'Email'}}) }}
					</div>
					<div class="form-group1">
						{{ form_label(form.accountantPhone) }}
						{{ form_widget(form.accountantPhone, {'attr': {'placeholder': 'Téléphone'}}) }}
					</div>
				</div>

				<div class="form-group">
					<div class="form-group1 Fonction">
						{{ form_label(form.accountantJob) }}
						{{ form_widget(form.accountantJob, {'attr': {'placeholder': 'Fonction' , 'class': 'width-97'}}) }}
					</div>
				</div>
			</div>


			<div class="sectt">
				<h3>Consultant</h3>
				<div class="form-group">
					<div class="form-group1 width-100" >


						{{ form_widget(form.manager, {'attr': {'placeholder': 'Téléphone'}}) }}
					</div>


				</div>
				<div class="form-group">

					<div class="checkbox-group">
						{{ form_widget(form.managerDpo, {'attr': {'class': 'custom-control-input'}}) }}
						{{ form_label(form.managerDpo, null, {'label_attr': {'class': 'custom-control-label'}}) }}
					</div>
				</div>

				{% if is_granted('ROLE_DPO') %}
					<div class="form-group">
						<div class="form-group1 col-md-12 width-100">
							{{ form_label(form.lawyer) }}
							{{ form_widget(form.lawyer, {'attr': {'class': 'form-control ' ~ ((form_errors(form.lawyer) == '') ? '' : 'is-invalid')} }) }}
							<div class="invalid-feedback">{{ form_errors(form.lawyer) | striptags  }}</div>
						</div>
					</div>
				{% endif %}
			</div>


			<div class="sectt">
				<h3>Compte client</h3>
				<div class="form-group">
					<div class="form-group1 width-100">
						{{ form_label(form.parentUser) }}
						{{ form_widget(form.parentUser, {'attr': {'class': 'form-control ' ~ ((form_errors(form.parentUser) == '') ? '' : 'is-invalid')} }) }}
						<div class="invalid-feedback">{{ form_errors(form.parentUser) | striptags  }}</div>
					</div>


				</div>
				<div class="form-group">

					<div class="form-group1 width-100">
						<label for="childrenUsers-search">{{ form_label(form.childrenUsers) }}</label>

						{{ form_widget(form.childrenUsers, {'attr': {'class': 'form-control js-select2 ' ~ ((form_errors(form.childrenUsers) == '') ? '' : 'is-invalid')} }) }}
						<div class="invalid-feedback">{{ form_errors(form.childrenUsers) | striptags  }}</div>


					</div>

				</div>


				<div class="form-group">
					<div class="checkbox-group col-md-12 width-100" >
						{{ form_widget(form.enabled, {'attr': {'class': 'custom-control-input'}}) }}
						{{ form_label(form.enabled, null, {'label_attr': {'class': 'custom-control-label'}}) }}
					</div>
				</div>

				 {{ form_widget(form.language, {'attr': {'class': 'disp-none'}}) }}

			</div>

			<!-- Submit Button -->
			<button type="submit" id="appbundle_user_save" class="submit-button">Enregistrer</button>

			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<!-- Inclure Select2 (CSS + JS) -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet"/>  <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
	 <script>
	    $(document).ready(function() {
	            $('.js-select2').select2({
	                placeholder: "Sélectionnez des utilisateurs",
	                allowClear: true,
	                width: '100%'
	            });
	        });
	        document.addEventListener("DOMContentLoaded", function () {
	            function readFile(input) {
	                if (input.files && input.files[0]) {
	                    var reader = new FileReader();
	
	                    reader.onload = function (e) {
	                        var avatarImg = document.querySelector('.avatar-container img');
	                        if (avatarImg) {
	                            avatarImg.src = e.target.result;
	                        } else {
	                            let avatarContainer = document.querySelector('.avatar-container');
	                            avatarContainer.innerHTML = '<img src="'+e.target.result+'" class="avatar-img rounded-circle">';
	                        }
	                    };
	
	                    reader.readAsDataURL(input.files[0]);
	                }
	            }
	
	            document.querySelector('.avatar-file-picker').addEventListener('change', function () {
	                readFile(this);
	            });
	        });
	
	     
	
	    </script>
{% endblock %}
