<h5 style="text-align: center">{{ 'actions_raliser_sous_30_jours'|trans }}</h5>
<table style="width:100%;font-size: 9px;" border="1" cellpadding="6">
    <thead>
    <tr style="background-color: #264465; color: white">
        <th>{{ 'action'|trans }}</th>
        <th>{{ 'editeur'|trans }}</th>
        <th>{{ 'date_de_cration'|trans }}</th>
        <th>{{ 'date_de_mise_en_place_souhaite'|trans }}</th>
        <th>{{ 'budget_prvisionnel'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for action in actions %}
        <tr>
            <td>{{ action.name }}</td>
            <td>{% if action.byManager %}{{ 'votre_dlgu'|trans }}{% else %}{{ app.user.user.companyName }}{% endif %}</td>
            <td>{{ action.date|date('d/m/Y') }}</td>
            <td>{{ action.setUpDate|date('d/m/Y') }}</td>
            <td>{{ action.budget }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br/><br/><br/><br/>