{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Mot de passe oublié
{% endblock %}

{% block body_class %}jumbo-page{% endblock %}

{% block body %}
    <main class="admin-main gradient-01">

        <div class="container">
            <div class="row m-h-100 ">
                <div class="col-md-8 col-lg-4  m-auto">
                    <div class="card shadow-lg ">
                        <div class="card-body ">
                            <div class=" padding-box-2 ">
                                <h3 class="text-center mt-2">Mot de passe oublié</h3>
                                <div class="text-center mb-5">
                                    {% for type, messages in app.session.flashbag.all %}
                                        {% for message in messages %}
                                            <div class="alert alert-border-{{ type }} alert-dismissible fade show" role="alert">
                                                <div class="d-flex">
                                                    <div class="icon">
                                                        <i class="icon mdi mdi-alert-circle-outline"></i>
                                                    </div>
                                                    <div class="content">
                                                        {{ message }}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                                {{ form_start(form) }}
                                    <div class="form-group">
                                        <label>Adresse mail</label>
                                        <div class="input-group input-group-flush mb-3">
                                            {{ form_widget(form.email, {'attr': {'class': 'form-control  form-control-prepended'}}) }}
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <span class=" mdi mdi-email "></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-danger">{{ form_errors(form.email) | striptags  }}</div>
                                        <p class="small">
                                            Nous vous enverrons un lien de réinitialisation par mail à l'adresse indiquée
                                        </p>
                                    </div>


                                    <div class="form-group">
                                        <button class="btn text-uppercase btn-block btn-primary">
                                            Envoyer
                                        </button>
                                    </div>
                                {{ form_end(form) }}
                                <p class="text-center">
                                    <a href="{{ path('default_login') }}" class="text-underline">Annuler</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}