{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Nouveau mot de passe
{% endblock %}

{% block body_class %}login-page{% endblock %}

{% block body %}
<div class="logosidebar" style="border-bottom:0px; justify-content : flex-end;display:flex; margin:10px">
    <img src="{{ asset(get_config('logo_image')) }}" alt="LOGO DATA SOLUTION" />
</div>

<div class="login">
    <div class="blockcenterlogin">
        {{ form_start(form, {"attr": {"class": "needs-validation"}}) }}
            <div>
                <h2>Votre nouveau mot de passe</h2>
                <p>Veuillez entrer votre nouveau mot de passe ci-dessous</p>
            </div>
            
            <div class="inputlogin">
                <h5>Mot de passe</h5>
                {{ form_widget(form.password.first, {'attr': {'class': 'inputt', 'placeholder': '••••••••'}}) }}
                <div class="invalid-feedback">{{ form_errors(form.password.first) | striptags }}</div>
            </div>

            <div class="inputlogin">
                <h5>Confirmez le mot de passe</h5>
                {{ form_widget(form.password.second, {'attr': {'class': 'inputt', 'placeholder': '••••••••'}}) }}
                <div class="invalid-feedback">{{ form_errors(form.password.second) | striptags }}</div>
            </div>
            
            <div class="alert alert-secondary" role="alert">
                <b>Règle de mot de passe :</b>
                12 caractères de types différents (majuscules, minuscules, chiffres, caractères spéciaux) 
                n’ayant aucun lien avec vous (nom, date de naissance…) et ne figurant pas dans le dictionnaire.
            </div>
            
            {% for type, messages in app.session.flashbag.all %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                        <div style="display:flex; gap:7px;">
                            <i class="fa fa-exclamation-circle" aria-hidden="true" style="margin-top: 4px; color:#EF6D6F;"></i> {{ message }}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
            
            <button type="submit" class="submitt" style="width: 100%;">Réinitialiser</button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
