{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	-
	{{ 'editer_un_soustraitant'|trans }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block content %}
<div class="page">
	<div class="table-container-traitements">
		<div class="header headretour">
			<a href="javascript:history.back()">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewbox="0 0 1024 1024"><path fill="currentColor" d="M609.408 149.376L277.76 489.6a32 32 0 0 0 0 44.672l331.648 340.352a29.12 29.12 0 0 0 41.728 0a30.59 30.59 0 0 0 0-42.752L339.264 511.936l311.872-319.872a30.59 30.59 0 0 0 0-42.688a29.12 29.12 0 0 0-41.728 0"/></svg>
			</a>

			<h2>{{ 'editer_un_soustraitant'|trans }}</h2>
		</div>
		{{ form_start(form, {"attr": {"class": "sous-traitantform"}}) }}

		<!-- Standard Search Section -->


		<!-- Type of Subcontractor -->
			<div class="form-group1"> {{ form_label(form.subcontractorType, 'Type de sous-traitance', {'label_attr': {'class': 'required'}}) }}
			{{ form_widget(form.subcontractorType, {'attr': {'class': 'form-control'}}) }}
			<div class="invalid-feedback">
				{{ form_errors(form.subcontractorType) }}
			</div>
		</div>

		<!-- Company Section -->
		<div class="sectt margin-top-30" >
			<h3>{{ 'societe'|trans }}</h3>
			<div class="form-group">
				<div class="form-group1">
					{{ form_label(form.name, 'Nom') }}
					{{ form_widget(form.name, {'attr': {'placeholder': 'Nom', 'class': 'form-control'}}) }}
				</div>
				<div class="form-group1">
					{{ form_label(form.type, 'Typologie') }}
					{{ form_widget(form.type, {'attr': {'placeholder': 'Typologie', 'class': 'form-control'}}) }}
				</div>
			</div>
		</div>

		<!-- Contact Section -->
		<div class="sectt">
			<h3>{{ 'contact'|trans }}</h3>
			<div class="form-group">
				<div class="form-group1">
					{{ form_label(form.contactLastName, 'Nom') }}
					{{ form_widget(form.contactLastName, {'attr': {'placeholder': 'Nom', 'class': 'form-control'}}) }}
				</div>
				<div class="form-group1">
					{{ form_label(form.contactFirstName, 'Prénom') }}
					{{ form_widget(form.contactFirstName, {'attr': {'placeholder': 'Prénom', 'class': 'form-control'}}) }}
				</div>
			</div>
			<div class="form-group">
				<div class="form-group1">
					{{ form_label(form.contactEmail, 'Email') }}
					{{ form_widget(form.contactEmail, {'attr': {'placeholder': 'Email', 'class': 'form-control'}}) }}
				</div>
				<div class="form-group1">
					{{ form_label(form.contactPhone, 'Téléphone') }}
					{{ form_widget(form.contactPhone, {'attr': {'placeholder': 'Téléphone', 'class': 'form-control'}}) }}
				</div>
			</div>
		</div>

		<!-- Conformity Section -->
		<div class="sectt">
			<h3>{{ 'conformit_maj'|trans }}</h3>
			<div class="form-group">
				<div class="form-group1">
					{{ form_label(form.conformity, 'Conformité') }}
					{{ form_widget(form.conformity, {'attr': {'class': 'form-control'}}) }}
				</div>
				<div class="form-group1">
					{{ form_label(form.privacyPolicyLink, 'Lien vers la politique de confidentialité') }}
					{{ form_widget(form.privacyPolicyLink, {'attr': {'placeholder': 'https://', 'class': 'form-control'}}) }}
				</div>
			</div>

		</div>

		<!-- Document Management Section -->
		<div class="sectt">
			<h3>{{ 'Documents'|trans }}</h3>
			<div class="form-row mb-5 mt-3">
				<div class="col-12 mb-2">
					<button type="button" class="file-button" id="add_document_button">
						<i class="mdi mdi-file-plus"></i>
						{{ 'fichiers'|trans }}</button>
				</div>
				<div id="block_old_documents" class="row col-12">
					{% for document in subcontractor.documents %}
						<div class="form-group col-md-12 d-flex block_document"><input class="form-control" type="text" placeholder="{{ 'titre'|trans }}" name="appbundle_subcontractor_documents_{{ document.id }}" value="{{ document.name }}"><a href="{{ path('user_subcontractor_deletedoc', {'subcontractor': subcontractor.id, 'document': document.id}) }}" class="btn btn-danger ml-2" onclick="return confirm('Confirmer la suppression de ce fichier ?\nCette action actualisera la page, toute autre modification sera perdue.');">
								<i class="mdi mdi-file-remove"></i>
							</a>
							<a href="{{ path('user_read_user_documents', {'id': document.id}) }}" class="btn btn-info ml-2" target="_blank">
								<i class="mdi mdi-eye"></i>
							</a>
						</div>
					{% endfor %}
				</div>
				<div id="block_documents" class="row col-12"></div>
			</div>
		</div>

		<!-- Group Checkbox -->
		{% if app.user.user.mainGroupAgency %}
			<div class="checkbox-group">
				{{ form_widget(form.group, {'attr': {'id': 'destinataire-commun'}}) }}
				{{ form_label(form.group, 'Destinataire commun à l\'ensemble du groupe ?', {'label_attr': {'for': 'destinataire-commun'}}) }}
        </div>
          {% endif %}

        <!-- Submit Button -->
        <button type="submit" class="submit-button">{{ 'enregistrer'|trans }}</button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
     <script>
       

      

      

        (function ($) {
            'use strict';
            $(document).ready(function () {
                document.getElementById("add_document_button").addEventListener("click", function () {
                    var div = document.createElement("div");
                    div.className = "form-group col-md-12 d-flex block_document";

                    var nameInput = document.createElement("input");
                    nameInput.className = "form-control";
                    nameInput.setAttribute("type", "text");
                    nameInput.setAttribute("placeholder", "Titre");
                    nameInput.setAttribute("name", "appbundle_subcontractor_documents_names[]");

                    var fileInput = document.createElement("input");
                    fileInput.className = "form-control ml-2";
                    fileInput.setAttribute("type", "file");
                    fileInput.setAttribute("name", "appbundle_subcontractor_documents[]");

                    var fileInputRemoveButton = document.createElement("button");
                    fileInputRemoveButton.className = "btn btn-danger ml-2 remove_document_button";
                    fileInputRemoveButton.setAttribute("type", "button");
                    fileInputRemoveButton.setAttribute("onclick", "removeDocument(this)");

                   

                    div.appendChild(nameInput);
                    div.appendChild(fileInput);
                    div.appendChild(fileInputRemoveButton);

                    var element = document.getElementById("block_documents");
                    element.appendChild(div);
                });
            });
        })(window.jQuery);

        function removeDocument(element) {
            element.parentNode.remove();
        }
    </script>
{% endblock %}
