{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	-
	{{ 'ajouter_un_soustraitant'|trans }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block content %}
<div class="page">
	<div class="table-container-traitements">
		<div class="header headretour">
			<a href="javascript:history.back()">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewbox="0 0 1024 1024"><path fill="currentColor" d="M609.408 149.376L277.76 489.6a32 32 0 0 0 0 44.672l331.648 340.352a29.12 29.12 0 0 0 41.728 0a30.59 30.59 0 0 0 0-42.752L339.264 511.936l311.872-319.872a30.59 30.59 0 0 0 0-42.688a29.12 29.12 0 0 0-41.728 0"/></svg>
			</a>

			<h2>{{ 'ajouter_un_soustraitant'|trans }}</h2>
		</div>
		{{ form_start(form, {"attr": {"class": "sous-traitantform"}}) }}


		<!-- Standard Search Section -->
		<div class="sectt">
			<br><br>
			<div class="form-group">
				<div class="form-group1">
					<div class="dropdownform">
						<div class="relative-flex" >
							<span class="search-span" >
								<i class="fa fa-search"></i>
							</span>
							<input class="padding-left"  type="text" id="standard-search" placeholder="{{ 'rechercher_un_standard'|trans }}">
							<span "down-span" >
								<i class="fa fa-chevron-down"></i>
							</span>
						</div>

						<ul class="dropdown-menu" id="dropdown-menu">
							{% for subcontractorStd in subcontractorsStd %}
								<li>
									<a class="dropdown-item" onclick="selectStd({{subcontractorStd.id }})">
										{{ subcontractorStd.name }}
									</a>
								</li>

							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!-- Type of Subcontractor -->
		<h3>Type de destinataire</h3>
		<div class="form-group">
			<div class="form-group1">
				{{ form_widget(form.subcontractorType, {'attr': {'class': 'form-control'}}) }}
				<div class="invalid-feedback">
					{{ form_errors(form.subcontractorType) }}
				</div>
			</div>
		</div>

		<!-- Company Section -->
		<div class="sectt margin-top-30" >
			<h3>{{ 'societe'|trans }}</h3>
			<div class="form-group">
				<div class="form-group1">
					{{ form_label(form.name, 'Nom') }}
					{{ form_widget(form.name, {'attr': {'placeholder': 'Nom', 'class': 'form-control'}}) }}
				</div>
				<div class="form-group1">
					{{ form_label(form.type, 'Typologie') }}
					{{ form_widget(form.type, {'attr': {'placeholder': 'Typologie', 'class': 'form-control'}}) }}
				</div>
			</div>
		</div>

		<!-- Contact Section -->
		<div class="sectt">
			<h3>{{ 'contact'|trans }}</h3>
			<div class="form-group">
				<div class="form-group1">
					{{ form_label(form.contactLastName, 'Nom') }}
					{{ form_widget(form.contactLastName, {'attr': {'placeholder': 'Nom', 'class': 'form-control'}}) }}
				</div>
				<div class="form-group1">
					{{ form_label(form.contactFirstName, 'Prénom') }}
					{{ form_widget(form.contactFirstName, {'attr': {'placeholder': 'Prénom', 'class': 'form-control'}}) }}
				</div>
			</div>
			<div class="form-group">
				<div class="form-group1">
					{{ form_label(form.contactEmail, 'Email') }}
					{{ form_widget(form.contactEmail, {'attr': {'placeholder': 'Email', 'class': 'form-control'}}) }}
				</div>
				<div class="form-group1">
					{{ form_label(form.contactPhone, 'Téléphone') }}
					{{ form_widget(form.contactPhone, {'attr': {'placeholder': 'Téléphone', 'class': 'form-control'}}) }}
				</div>
			</div>
		</div>

		<!-- Conformity Section -->
		<div class="sectt">
			<h3>{{ 'conformit_maj'|trans }}</h3>
			<div class="form-group">
				<div class="form-group1">
					{{ form_label(form.conformity, 'Conformité') }}
					{{ form_widget(form.conformity, {'attr': {'class': 'form-control'}}) }}
				</div>
				<div class="form-group1">
					{{ form_label(form.privacyPolicyLink, 'Lien vers la politique de confidentialité') }}
					{{ form_widget(form.privacyPolicyLink, {'attr': {'placeholder': 'https://', 'class': 'form-control'}}) }}
				</div>
			</div>
			<div class="form-row mb-5 mt-3">
				<div class="col-12 mb-2">
					<button type="button" class="file-button" id="add_document_button">
						<i class="fa fa-file" aria-hidden="true"></i>
						{{ 'joindre un fichier'|trans }}
					</button>
				</div>

				{% if fromStd %}
					<div id="block_old_documents" class="row col-12">
						{% for document in subcontractorStd.documents %}
							<div class="form-group col-md-12 d-flex block_document">
								<div class="custom-control custom-checkbox custom-control-inline">
									<input type="checkbox" checked="checked" class="custom-control-input" id="appbundle_subcontractor_documents_{{ document.id }}" name="appbundle_subcontractor_documents_{{ document.id }}" value="1"/>
									<label class="custom-control-label" for="appbundle_subcontractor_documents_{{ document.id }}">{{ document.name }}</label>
								</div>
								<a href="{{ asset('uploads/documents/' ~ document.filename) }}" class="btn btn-info ml-2" target="_blank">
									<i class="mdi mdi-eye"></i>
								</a>
							</div>
						{% endfor %}
					</div>
				{% endif %}

				<div id="block_documents" class="row col-12"></div>
			</div>

		</div>

		<!-- Group Checkbox -->
		{% if app.user.user.mainGroupAgency %}
			<div class="checkbox-group">
				{{ form_widget(form.group, {'attr': {'id': 'destinataire-commun'}}) }}
				{{ form_label(form.group, 'Destinataire commun à l\'ensemble du groupe ?', {'label_attr': {'for': 'destinataire-commun'}}) }}
        </div>
           {% endif %}

        <!-- Submit Button -->
        <button type="submit" class="submit-button">{{ 'enregistrer'|trans }}</button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
     <script>
        document.getElementById("standard-search").addEventListener("input", function () {
            const query = this.value.toLowerCase();
            const options = document.querySelectorAll("#dropdown-menu li");
            options.forEach(option => {
                if (option.textContent.toLowerCase().includes(query)) {
                    option.style.display = "block";
                } else {
                    option.style.display = "none";
                }
            });
        });
       function selectStd(e) {
            saved = true;
            window.location.href = "{{ path('user_subcontractors_add') }}?std=" + e;
        }
      


        document.addEventListener("DOMContentLoaded", () => {
    const searchInput = document.getElementById("standard-search");
    const dropdownMenu = document.getElementById("dropdown-menu");
  
    // Show dropdown menu on focus
    searchInput.addEventListener("focus", () => {
      dropdownMenu.style.display = "block";
    });
  
    // Filter dropdown options based on input
    searchInput.addEventListener("input", () => {
      const filter = searchInput.value.toLowerCase();
      const items = dropdownMenu.querySelectorAll("li");
      items.forEach(item => {
        const text = item.textContent.toLowerCase();
        item.style.display = text.includes(filter) ? "block" : "none";
      });
    });
  
    // Hide dropdown menu on blur
    searchInput.addEventListener("blur", () => {
      setTimeout(() => {
        dropdownMenu.style.display = "none";
      }, 200); // Delay to allow option selection
    });
  
    // Add functionality to select a dropdown option
    dropdownMenu.addEventListener("click", (e) => {
      if (e.target.tagName === "LI") {
        searchInput.value = e.target.textContent;
        dropdownMenu.style.display = "none";
      }
    });
  });



    (function ($) {
            'use strict';
            $(document).ready(function () {
                document.getElementById("add_document_button").addEventListener("click", function () {
                    var div = document.createElement("div");
                    div.className = "form-group col-md-12 d-flex block_document";

                    var nameInput = document.createElement("input");
                    nameInput.className = "form-control";
                    nameInput.setAttribute("type", "text");
                    nameInput.setAttribute("placeholder", "Titre");
                    nameInput.setAttribute("name", "appbundle_subcontractor_documents_names[]");

                    var fileInput = document.createElement("input");
                    fileInput.className = "form-control ml-2";
                    fileInput.setAttribute("type", "file");
                    fileInput.setAttribute("name", "appbundle_subcontractor_documents[]");

                    var fileInputRemoveButton = document.createElement("button");
                    fileInputRemoveButton.className = "btn btn-danger ml-2 remove_document_button";
                    fileInputRemoveButton.setAttribute("type", "button");
                    fileInputRemoveButton.setAttribute("onclick", "removeDocument(this)");

                 

                    div.appendChild(nameInput);
                    div.appendChild(fileInput);
                    div.appendChild(fileInputRemoveButton);

                    var element = document.getElementById("block_documents");
                    element.appendChild(div);
                });

            
            });
        })(window.jQuery);

        function removeDocument(element) {
            element.parentNode.remove();
        }
    </script>
{% endblock %}
