{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'accueil'|trans }}
{% endblock %}

{% block body %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="bg-dark">
        <div class="container">
            <div class="row align-items-center p-b-100 p-t-30">
                <div class="col-md-6 text-white p-b-30">
                    {{ include('user/includes/identity.html.twig') }}
                </div>
                <div class="col-md-6 text-white p-b-30">
                    <div class="media">
                        <div class="avatar avatar mr-3">
                            <div class="avatar-title rounded-circle mdi mdi-account-multiple  ">

                            </div>
                        </div>
                        <div class="media-body">
                            <h1>{{ 'soustraitants_standards'|trans }}</h1>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4 col-lg-3">
                    <a href="{{ path('user_subcontractors_std_add') }}" class="card m-b-30">
                        <div class="card-body">
                            <div class="media">
                                <div class="avatar mr-3">
                                    <div class="avatar-title rounded-circle bg-primary"><i class="mdi mdi-shape-circle-plus"></i></div>
                                </div>
                                <div class="media-body p-t-5">
                                    <h5 class="m-b-0">{{ 'ajouter'|trans }}</h5>
                                    <p class="m-0">{{ 'un_nouveau_soustraitant'|trans }}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid pull-up">
        <div class="row justify-content-md-end">

        </div>
        <div class="row">

            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive p-t-10">
                            <table id="datatable" class="table" style="width:100%">
                                <thead>
                                <tr>
                                    <th>{{ 'societe'|trans }}</th>
                                    <th>{{ 'typologie'|trans }}</th>
                                    <th>{{ 'contact'|trans }}</th>
                                    <th>{{ 'tl'|trans }}</th>
                                    <th>{{ 'mail'|trans }}</th>
                                    <th>{{ 'conformit'|trans }}</th>
                                    <th>{{ 'date'|trans }}</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for subcontractor in subcontractors %}
                                    <tr>
                                        <td>{{ subcontractor.name }}</td>
                                        <td>{{ subcontractor.type }}</td>
                                        <td>{{ subcontractor.contactLastName }} {{ subcontractor.contactFirstName }}</td>
                                        <td>{{ subcontractor.contactPhone }}</td>
                                        <td>{{ subcontractor.contactEmail }}</td>
                                        <td>{{ subcontractor.conformity.libelle }}</td>
                                        <td>{{ subcontractor.editDate|date('d/m/Y') }}</td>
                                        <td>
                                            <a href="{{ path('user_subcontractors_std_edit', {'id': subcontractor.id}) }}" class="btn btn-sm ml-1 mr-1 btn-secondary">
                                                <i class="mdi mdi-circle-edit-outline"></i> {{ 'modifier'|trans }}
                                            </a>
                                            <a href="{{ path('user_subcontractors_std_delete', {'id': subcontractor.id}) }}" class="btn btn-sm ml-1 mr-1 btn-danger" onclick="return confirm('Confirmer la suppression de ce sous-traitant standard ?');">
                                                <i class="mdi mdi-close"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        (function ($) {
            'use strict';
            $(document).ready(function () {
                {% if app.request.locale == "fr" %}
                    $('#datatable').DataTable({
                        "language": {
                            "search": "Rechercher :",
                            "lengthMenu": "Afficher _MENU_ résultats par page",
                            "zeroRecords": "Aucun résultat",
                            "info": "Page _PAGE_ sur _PAGES_",
                            "infoEmpty": "Aucune données sur ce tableau",
                            "infoFiltered": "(filtered from _MAX_ total records)",
                            "paginate": {
                                "previous": "Précédent",
                                "next": "Suivant",

                            }
                        }
                    });
                {% else %}
                    $('#datatable').DataTable({});
                {% endif %}

            });

        })(window.jQuery);
    </script>
{% endblock %}