{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	-
	{{ 'cartographie du SI group'|trans }}
{% endblock %}

{% block content %}
<div class="page">
	<div class="flex">
		<div class="four">
			<div class="gap">
				<h4>{{ 'Cartographie du SI group'|trans }}</h4>
				<p>{{ "L'ensemble des éléments de votre système d'information"|trans }}</p>
				<div class="vos-actions">
					<div class="imprimer width-50">
						<p>
							<a href="{{ path('user_systems_group_export_excel', {type: 'computing'}) }}">{{ 'Exporter au format Excel'|trans }}</a>
						</p>
					</div>
					<div class="exporter width-50">
						<p>
							<a href="{{ path('user_systems_group_export') }}" target="_blanc">{{ 'Exporter au format PDF'|trans }}</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="four">
			<div class="gap">
				<div class="search-container">
					<h4 class="font-16">{{ 'Mode d’affichage'|trans }}</h4>
					<div class="dropdownn">
						<button class="dropdown-button" onclick="window.location.href='{{path('user_systems') }}'">
							{{ 'Cartographie du SI '|trans }}
						</button>

						<ul class="dropdown-menu">
							<li>{{ 'Option 1'|trans }}</li>
							<li>{{ 'Option 2'|trans }}</li>
							<li>{{ 'Option 3'|trans }}</li>
						</ul>
					</div>
				</div>
				<p>{{ 'Choisissez entre vue mindmap, tableur et vue client'|trans }}</p>
				<div class="measures-container">
					<p class="dategreen">{{ 'Vue mindmap'|trans }}</p>
					<div class="switch">
						<input type="checkbox" id="togglee"/>
						<label for="togglee"></label>
					</div>
					<p>{{ 'Vue tableur'|trans }}</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Mindmap Section -->
	<div class="table-container-traitements mindmap">
		<div id="map"></div>
	</div>

	<!-- Tableur Section -->


	<div
		class="flex tableur">
		<!-- Informatique Section -->
		<div class="table-container-traitements catogro width-100">
			<div class="header">
				<h2>{{ 'informatique'|trans }}</h2>
				<a href="{{ path('user_systems_export_excel', {'type': 'computing'}) }}" class="btn btn-primary">{{ 'export_excel'|trans }}</a>
			</div>
			<div class="search-container">
				<div class="search-bar">
					<span class="search-icon">
						<i class="fa fa-search" aria-hidden="true"></i>
					</span>
					<input type="text" placeholder="Rechercher"/>
				</div>
			</div>

			<!-- Dynamically Generated Tables -->
			{% for category, title in {'network': 'Reseau', 'security': 'Sécurité', 'administration': 'Administration', 'device': 'Périphérique', 'software': 'Logiciel', 'server': 'Serveur'} %}
				<div class="container-catogrophie">
					<div class="title-cat">
						<h4>{{ title }}</h4>
						<a href="{{ path('user_systems_add') }}?type=computing&subtype={{ category }}">+ Ajouter un element</a>
					</div>
					<table class="styled-table">
						<thead>
							<tr>
								<th>Nom</th>
								<th>Type</th>
								<th>Informations</th>
								<th>Type de Wifi</th>
								<th>Protocole Wifi</th>
								<th>Options</th>
							</tr>
						</thead>
						<tbody>
							{% for item in systems.computing[category] %}
								<tr>
									<td>{{ item.name }}</td>
									<td>{{ item.type }}</td>
									<td>
										{% for spec in item.data %}
											<span>•
												{{ spec.title }}:
												{{ spec.value }}</span><br/>
										{% endfor %}
									</td>
									<td>tt</td>
									<td>tt</td>
									<td>
										<div class="options">
											<button class="edit">
												<a href="{{ path('user_systems_edit', {'id': item.id}) }}">
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewbox="0 0 24 24"><path fill="currentColor" d="m7 17.013l4.413-.015l9.632-9.54c.378-.378.586-.88.586-1.414s-.208-1.036-.586-1.414l-1.586-1.586c-.756-.756-2.075-.752-2.825-.003L7 12.583zM18.045 4.458l1.589 1.583l-1.597 1.582l-1.586-1.585zM9 13.417l6.03-5.973l1.586 1.586l-6.029 5.971L9 15.006z"/><path fill="currentColor" d="M5 21h14c1.103 0 2-.897 2-2v-8.668l-2 2V19H8.158c-.026 0-.053.01-.079.01c-.033 0-.066-.009-.1-.01H5V5h6.847l2-2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2"/></svg>
												</a>
											</button>
											<button class="delete">
												<a href="{{ path('user_systems_delete', {'id': item.id}) }}" onclick="return confirm('Confirmer la suppression de cet élément ?');">
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewbox="0 0 24 24"><path fill="currentColor" d="M7 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v2h4a1 1 0 1 1 0 2h-1.069l-.867 12.142A2 2 0 0 1 17.069 22H6.93a2 2 0 0 1-1.995-1.858L4.07 8H3a1 1 0 0 1 0-2h4zm2 2h6V4H9zM6.074 8l.857 12H17.07l.857-12zM10 10a1 1 0 0 1 1 1v6a1 1 0 1 1-2 0v-6a1 1 0 0 1 1-1m4 0a1 1 0 0 1 1 1v6a1 1 0 1 1-2 0v-6a1 1 0 0 1 1-1"/></svg>
												</a>
											</button>
										</div>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			{% endfor %}
		</div>

		<!-- Physical Section -->
		<div class="table-container-traitements catogro width-100">
			<div class="header">
				<h2>{{ 'physique'|trans }}</h2>
				<a href="{{ path('user_systems_export_excel', {'type': 'physical'}) }}" class="btn btn-primary">{{ 'export_excel'|trans }}</a>
			</div>
			<div class="search-container">
				<div class="search-bar">
					<span class="search-icon">
						<i class="fa fa-search" aria-hidden="true"></i>
					</span>
					<input type="text" placeholder="Rechercher"/>
				</div>
			</div>

			{% for category, title in {'partitioning': 'Cloisonnement', 'information': 'Information'} %}
				<div class="container-catogrophie">
					<div class="title-cat">
						<h4>{{ title }}</h4>
						<a href="{{ path('user_systems_add') }}?type=physical&subtype={{ category }}">+ Ajouter un element</a>
					</div>
					<table class="styled-table">
						<thead>
							<tr>
								<th>Nom</th>
								<th>Type</th>
								<th>Informations</th>
								<th>Type de Wifi</th>
								<th>Protocole Wifi</th>
								<th>Options</th>
							</tr>
						</thead>
						<tbody>
							{% for item in systems.physical[category] %}
								<tr>
									<td>{{ item.name }}</td>
									<td>{{ item.type }}</td>
									<td>
										{% for spec in item.data %}
											<span>•
												{{ spec.title }}:
												{{ spec.value }}</span><br/>
										{% endfor %}
									</td>
									<td>t</td>
									<td>t</td>
									<td>
										<div class="options">
											<button class="edit">
												<a href="{{ path('user_systems_edit', {'id': item.id}) }}">
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewbox="0 0 24 24"><path fill="currentColor" d="m7 17.013l4.413-.015l9.632-9.54c.378-.378.586-.88.586-1.414s-.208-1.036-.586-1.414l-1.586-1.586c-.756-.756-2.075-.752-2.825-.003L7 12.583zM18.045 4.458l1.589 1.583l-1.597 1.582l-1.586-1.585zM9 13.417l6.03-5.973l1.586 1.586l-6.029 5.971L9 15.006z"/><path fill="currentColor" d="M5 21h14c1.103 0 2-.897 2-2v-8.668l-2 2V19H8.158c-.026 0-.053.01-.079.01c-.033 0-.066-.009-.1-.01H5V5h6.847l2-2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2"/></svg>
												</a>
											</button>
											<button class="delete">
												<a href="{{ path('user_systems_delete', {'id': item.id}) }}" onclick="return confirm('Confirmer la suppression de cet élément ?');">
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewbox="0 0 24 24"><path fill="currentColor" d="M7 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v2h4a1 1 0 1 1 0 2h-1.069l-.867 12.142A2 2 0 0 1 17.069 22H6.93a2 2 0 0 1-1.995-1.858L4.07 8H3a1 1 0 0 1 0-2h4zm2 2h6V4H9zM6.074 8l.857 12H17.07l.857-12zM10 10a1 1 0 0 1 1 1v6a1 1 0 1 1-2 0v-6a1 1 0 0 1 1-1m4 0a1 1 0 0 1 1 1v6a1 1 0 1 1-2 0v-6a1 1 0 0 1 1-1"/></svg>
												</a>
											</button>
										</div>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			{% endfor %}
		</div>
	</div>
	<div
		class="flex tableur">
		<!-- Action section -->
		<div class="table-container-traitements catogro width-100">

			<div class="header">
				<h2>{{ 'action'|trans }}</h2>
				<a href="{{ path('user_systems_export_excel', {'type': 'action'}) }}" class="btn btn-primary">{{ 'export_excel'|trans }}</a>
			</div>
			<div class="search-container">
				<div class="search-bar">
					<span class="search-icon">
						<i class="fa fa-search" aria-hidden="true"></i>
					</span>
					<input type="text" placeholder="Rechercher"/>
				</div>
			</div>

			{% for category, title in {
        'minimization': 'Minimisation',
        'anonymization': 'Anonymisation',
        'pseudonymization': 'Pseudonymisation',
        'sensitization': 'Sensibilisation',
        'supervision': 'Contrôle',
        'destruction': 'Destruction et Suppression'
    } %}
				<div class="container-catogrophie">
					<div class="title-cat">
						<h4>{{ title }}</h4>
						<a href="{{ path('user_systems_add') }}?type=action&subtype={{ category }}">+ Ajouter un element</a>
					</div>
					<table class="styled-table">
						<thead>
							<tr>
								<th>Nom</th>
								<th>Type</th>
								<th>Informations</th>
								<th>Type de Wifi</th>
								<th>Protocole Wifi</th>
								<th>Options</th>
							</tr>
						</thead>
						<tbody>
							{% for item in systems.action[category] %}
								<tr>
									<td>{{ item.name }}</td>
									<td>{{ item.type }}</td>
									<td>
										{% for spec in item.data %}
											<span>•
												{{ spec.title }}:
												{{ spec.value }}</span><br/>
										{% endfor %}
									</td>
									<td>t</td>
									<td>t</td>
									<td>
										<div class="options">
											<button class="edit">
												<a href="{{ path('user_systems_edit', {'id': item.id}) }}">
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewbox="0 0 24 24">
														<path fill="currentColor" d="m7 17.013l4.413-.015l9.632-9.54c.378-.378.586-.88.586-1.414s-.208-1.036-.586-1.414l-1.586-1.586c-.756-.756-2.075-.752-2.825-.003L7 12.583zM18.045 4.458l1.589 1.583l-1.597 1.582l-1.586-1.585zM9 13.417l6.03-5.973l1.586 1.586l-6.029 5.971L9 15.006z"/>
														<path fill="currentColor" d="M5 21h14c1.103 0 2-.897 2-2v-8.668l-2 2V19H8.158c-.026 0-.053.01-.079.01c-.033 0-.066-.009-.1-.01H5V5h6.847l2-2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2"/>
													</svg>
												</a>
											</button>
											<button class="delete">
												<a href="{{ path('user_systems_delete', {'id': item.id}) }}" onclick="return confirm('Confirmer la suppression de cet élément ?');">
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewbox="0 0 24 24">
														<path fill="currentColor" d="M7 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v2h4a1 1 0 1 1 0 2h-1.069l-.867 12.142A2 2 0 0 1 17.069 22H6.93a2 2 0 0 1-1.995-1.858L4.07 8H3a1 1 0 0 1 0-2h4zm2 2h6V4H9zM6.074 8l.857 12H17.07l.857-12zM10 10a1 1 0 0 1 1 1v6a1 1 0 1 1-2 0v-6a1 1 0 0 1 1-1m4 0a1 1 0 0 1 1 1v6a1 1 0 1 1-2 0v-6a1 1 0 0 1 1-1"/>
													</svg>
												</a>
											</button>
										</div>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			{% endfor %}
		</div>
		<!-- Suppler section -->
		<div class="table-container-traitements catogro width-100">
			<div class="header">
				<h2>{{ 'fournisseur'|trans }}</h2>
				<a href="{{ path('user_systems_export_excel', {'type': 'supplier'}) }}" class="btn btn-primary">{{ 'export_excel'|trans }}</a>
			</div>
			<div class="search-container">
				<div class="search-bar">
					<span class="search-icon">
						<i class="fa fa-search" aria-hidden="true"></i>
					</span>
					<input type="text" placeholder="Rechercher"/>
				</div>
			</div>

			<div class="container-catogrophie">
				<div class="title-cat">
					<h4>{{ 'Prestataires du SI'|trans }}</h4>
					<a href="{{ path('user_systems_add') }}?type=supplier&subtype=supplier">+ Ajouter un element</a>
				</div>
				<table class="styled-table">
					<thead>
						<tr>
							<th>Nom</th>
							<th>Type</th>
							<th>Informations</th>
							<th>Options</th>
						</tr>
					</thead>
					<tbody>
						{% for item in systems.supplier.supplier %}
							<tr>
								<td>{{ item.name }}</td>
								<td>{{ item.type }}</td>
								<td>
									{% for spec in item.data %}
										<span>•
											{{ spec.title }}:
											{{ spec.value }}</span><br/>
									{% endfor %}
								</td>
								<td>
									<div class="options">
										<button class="edit">
											<a href="{{ path('user_systems_edit', {'id': item.id}) }}">
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewbox="0 0 24 24"><path fill="currentColor" d="m7 17.013l4.413-.015l9.632-9.54c.378-.378.586-.88.586-1.414s-.208-1.036-.586-1.414l-1.586-1.586c-.756-.756-2.075-.752-2.825-.003L7 12.583zM18.045 4.458l1.589 1.583l-1.597 1.582l-1.586-1.585zM9 13.417l6.03-5.973l1.586 1.586l-6.029 5.971L9 15.006z"/><path fill="currentColor" d="M5 21h14c1.103 0 2-.897 2-2v-8.668l-2 2V19H8.158c-.026 0-.053.01-.079.01c-.033 0-.066-.009-.1-.01H5V5h6.847l2-2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2"/></svg>
											</a>
										</button>
										<button class="delete">
											<a href="{{ path('user_systems_delete', {'id': item.id}) }}" onclick="return confirm('Confirmer la suppression de cet élément ?');">
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewbox="0 0 24 24"><path fill="currentColor" d="M7 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v2h4a1 1 0 1 1 0 2h-1.069l-.867 12.142A2 2 0 0 1 17.069 22H6.93a2 2 0 0 1-1.995-1.858L4.07 8H3a1 1 0 0 1 0-2h4zm2 2h6V4H9zM6.074 8l.857 12H17.07l.857-12zM10 10a1 1 0 0 1 1 1v6a1 1 0 1 1-2 0v-6a1 1 0 0 1 1-1m4 0a1 1 0 0 1 1 1v6a1 1 0 1 1-2 0v-6a1 1 0 0 1 1-1"/></svg>
											</a>
										</button>
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>

	</div>


</div>


<div class="modal fade" id="modal_content" tabindex="-1" role="dialog" aria-labelledby="modal_content" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modal_content_title"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="modal_content_body"></div>
		</div>
	</div>
</div>{% endblock %}{% block javascripts %}
{{ parent() }} <script type="text/javascript" src="//cdn.jsdelivr.net/npm/jsmind/es6/jsmind.js"></script>
 <script type="module">

     document.addEventListener("DOMContentLoaded", () => {

    // Initialize Mindmap
    const options = {
        container: 'map', // ID of the container
        editable: false,
        theme: 'primary',
        zoom: 0.6,
        support_html: true,
        view: {
          engine: "canvas", 
            line_width: 2, // Adjust line width as needed
            line_color: '#000', // Set line color
          line_style: 'straight', // Use straight lines
    custom_line_render: function ({ ctx, start_point, end_point }) {
        ctx.beginPath();

        // Determine the direction and adjust the line's start/end points
        const mid_x = (start_point.x + end_point.x) / 2; // Midpoint for horizontal alignment
        const mid_y = (start_point.y + end_point.y) / 2; // Midpoint for vertical alignment

        // Move to the start point
        ctx.moveTo(start_point.x, start_point.y);

        // Draw a horizontal or vertical line depending on position
        ctx.lineTo(mid_x, start_point.y); // Horizontal line
        ctx.lineTo(mid_x, end_point.y);   // Vertical line
        ctx.lineTo(end_point.x, end_point.y); // Final horizontal/vertical line

        // Apply styles
        ctx.strokeStyle = '#E1E8F4'; // Line color (black)
        ctx.lineWidth = 3;        // Line width
        ctx.stroke();
    },
        },
        layout: {
            hspace: 180, // Horizontal spacing
            vspace: 30, // Vertical spacing
            pspace: 20, // Parent-child spacing
        },
    };

    // Render the mind map
    const mindData = {{ mindMap|json_encode|raw }}; // Replace with your server-rendered mind map data
    const jm = new jsMind(options);
    var mind = {{mindMap|json_encode|raw }}
    jm.show(mind);
    const initialZoom = 0.6; 
jm.view.setZoom(initialZoom);

    // Dynamically adjust the container height
    const mapContainer = document.getElementById('map');
    const mindMapCanvas = mapContainer.querySelector('canvas');

    setTimeout(() => {
        const canvasHeight = mindMapCanvas.height; // Get the canvas height
        mapContainer.style.height = `${canvasHeight}px`; // Update container height dynamically
    }, 100);// Add a slight delay for rendering


            // Toggle Views
            const toggleSwitch = document.getElementById("togglee");
            const mindmapElement = document.querySelector(".mindmap");
            const tableurElements = document.querySelectorAll(".tableur");

            toggleSwitch.addEventListener("change", () => {
                if (toggleSwitch.checked) {
                    mindmapElement.style.display = "none";
                    tableurElements.forEach((tableur) => tableur.style.display = "flex");
                } else {
                    mindmapElement.style.display = "flex";
                    tableurElements.forEach((tableur) => tableur.style.display = "none");
                }
            });
              setTimeout(function () {
    document.querySelectorAll("jmnode").forEach(function (node) {
        const nodeId = node.getAttribute("nodeid"); // Get the node's ID
        if (nodeId) {
            node.classList.add("jmnode-level-3"); // Apply custom class
            
            node.addEventListener("click", function (event) {
                // Prevent click event if clicking inside <span class="node-3-actions options">
                if (!event.target.closest(".node-3-actions.options")) {
                    openModalInfo(nodeId);
                }
            });
        }
    });
}, 1000); // 1000ms = 1 second

        });
    </script>


 <script>

            var systemsJs = {{ systemsJs|json_encode|raw }};

 function openModalInfo(id) {
            if (systemsJs[id]) {
                document.getElementById('modal_content_title').innerText = systemsJs[id].name;
                var contentHtml = "";
                systemsJs[id].data.map(item => {
                    if (item.value !== null) {
                        contentHtml += "<b><u>" + item.title + "</u></b> : " + item.value + "<br/><br/>";
                    }
                })
                document.getElementById('modal_content_body').innerHTML = contentHtml;
                $('#modal_content').modal('show');
            }
        }


    </script>{% endblock %}
